@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,400&family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.7;
}
.colorBlanco{
    color: white;
}
.colorGris{
    color: rgb(132, 135, 139);
}
.colorVerde{
    color: rgb(46, 141, 69);
}
#botoneraPrincipal{
    position: sticky;
    top: 0;
}
.botoneraPrincipal{
    height: 80px;
    font-size: 20px;
    display: flex;
    background-color: rgb(52, 58, 64);
    justify-content: center;
    align-items: center;
}
.logo{
    width: 15%;
    padding-left: 100px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tituloPpal{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
.confBsAs{
    width: 20%;
}
.tituloSec{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.textoConferencia{
    font-size: 18px;
}
.navegacion{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
}
header ul li{
    display: inline;
    margin: 5px;
}
.listaNav{
    list-style: none;
}
.linkNav{
    text-decoration: none;
}
.botnTransp{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.botnVerde{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
}
.tituloPricipal{
    height: 600px;
    width: 1200px;
}
.anclas{
    display: inline;
    font-size: 18px;
}
#conferencia{
    height: 550px;
    width: 100%;
    background: linear-gradient(to right, #00000096 , #00000096),url("../assets/img/hawaii.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.conferencia{
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    padding-right: 100px;
    margin-left: 50%;
}
.oradoresGrande{
    text-align: center;
    font-size: x-large;
}
.oradoresChico{
    text-align: center;
    padding-top: 10px;
    font-weight: lighter;
    font-size: small;
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    padding-bottom: 25px;
}
.tarjetas{
    width: 300px;
    height: 500px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
.tarjetas img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.cuerpoTarjeta{
    margin: 10px;
}
.cuerpoTarjeta h4{
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 12px;
}
.tituloNombre{
    margin-bottom: 0px;
}
.parrafo{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.fondoCeleste{
    background-color: rgb(23, 162,184);
    color: white;
}
.fondoRojo{
    background-color: rgb(220, 53, 71);
    color: white;
}
.fondoAmarillo{
    background-color: rgb(254, 193, 6);
    color: black;
}
.fondoGris{
    background-color: rgb(109, 116, 125);
    color: white;
}
.lugarFecha{
    display: flex;
    flex-wrap: wrap;
}
.honolulu{
    width: 50%;
}
.honolulu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid white;
}
.honoluluTexto{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    background-color: rgb(51, 58, 64);
}
.botnConoceMas{
    display: inline-flex;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
#formularioOrador{
    width: 100%;
}
.formularioOrador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.oradorGrande{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.oradorChico{
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    font-weight: normal;
}
.formulario{
    width: 100%;
    display: flex;
    padding-bottom: 15px;
}
.nombre{
    width: 47%;
    border-radius: 4px;
    padding-left: 8px;
}
.apellido{
    width: 47%;
    border-radius: 4px;
    margin-left: 6%;
    padding-left: 8px;
}
.area{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    padding-left: 8px;
    font-size: 20px;
    padding-top: 5px;
}
.parrForm{
    text-align: left;
    padding-bottom: 15px;
    font-weight: lighter;
    font-size: 13px;
    color: grey;
}
.enviar{
    width: 100%;
    height: 40px;
    background-color: rgb(150, 201, 62);
    padding: 10px;
    font-size: 17px;
    color: white;
    border-radius: 4px;
    border: 0;
}
.footer{
    height: 100px;
    background-image: linear-gradient(to right, #1c3643, #1c3d4e, #1d445a, #1d4c66, #1e5372);
    margin-top: 15px;
}
.botoneraFinal{
    width: 70%;
    height: 80px;
    margin-left: 15%;
}
.botoneraFinal ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.botoneraFinal ul li{
    flex-grow: 1;
}
.botoneraFinal ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 30px;
    text-align: center;
}

@media all and (max-width:599px){
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.7;
}
#botoneraPrincipal{
    position: absolute;
    top: 0;
}
.botoneraPrincipal{
    height: 400px;
    font-size: 20px;
    display: flex;
    background-color: rgb(52, 58, 64);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.navegacion{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
}
.tituloPricipal{
    height: 600px;
    width: 1200px;
}
#conferencia{
    height: 1000px;
    width: 100%;
    background: linear-gradient(to right, #00000096 , #00000096),url("../assets/img/hawaii.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}
.conferencia{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 0px;
    margin-left: 0%;
    padding-top: 400px;
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    padding-bottom: 25px;
}
.tarjetas{
    width: 300px;
    height: 500px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
.lugarFecha{
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.honolulu{
    width: 100%;
    height: 100%;
}
.honolulu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid white;
}
#formularioOrador{
    width: 100%;
}
.footer{
    height: 450px;
    background-image: linear-gradient(to right, #1c3643, #1c3d4e, #1d445a, #1d4c66, #1e5372);
    margin-top: 15px;
}
.botoneraFinal{
    width: 100%;
    height: 100%;
    margin-left: 0%;
}
.botoneraFinal ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}
}


